spring:
  application:
    name: delivery-backend

  datasource:
    url: jdbc:h2:mem:deliverydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: 8080

app:
  name: "Campus Delivery"
  jwt:
    secret: "delivery-app-secret-key-must-be-at-least-32-characters-long"
    expiration-ms: 86400000   # 24 hours

  # Change this to something only you know before demo!
  staff-registration-key: "staff-secret-2024"

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.company.delivery: DEBUG
    org.springframework.security: DEBUG
